.Weather {
  background-color: #101935;
  border-radius: 5px;
  color: white;
  padding: 20px;
}

.Weather form {
  margin-bottom: 10px;
}

.search-button {
  border: 2px solid none !important;
  border-style: none !important;
  background: #564787 !important;
  color: #dbcbd8;
  transition: ease-in-out;
}

.search-button:hover {
  background: #dbcbd8 !important;
  color: #564787 !important;
}

.Weather ul {
  list-style: none;
  padding: 0;
}

.Weather .unit {
  color: white;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  color: White;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.float-left {
  float: left;
}
